@import './base.css';

body {
  display: flex;
  place-items: center;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

a:hover {
  background-color: #e5dcc5;
}

a,
.green {
  text-decoration: none;
  color: #e5dcc5;
  transition: 0.4s;
  padding: 34px;
}
